<h1>分享测试页面</h1>

<script>
  var wxData = {
    "imgurl": 'http://g-wq.com',
    "link": 'http://g-wq.com',
    "title": "高伯约",
    "desc": "哈哈哈哈"
  };
</script>
<%= javascript_include_tag "WeixinApi.js", "wechat_share.js" %>